@import 'global/variables';

$body-background-color: $white;
$sidebar-color: $black;
$border-color: $grey-dk-200;
$body-text-color: $black;
$body-heading-color: $black;
$nav-child-link-color: $gray-warm;
$nav-link-color: $gray-warm;
$search-result-preview-color: $grey-dk-000;
$link-color: $blue;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

$site-logo-color: $white;

$code-background-color: $white-warm;

$footer-text-color: $black;
